<div class="page-header">
    <h4 style="margin-left: 950px;">
        <% if(username){ %>
        <div style="color: #527ab7">
            Welcome, <%= username %><br>
            <a href="/logout">Log Out</a>
        </div>
        <% }else{ %>
        <a href="/login">Login</a>&emsp;&emsp;
        <a href="/signup">Signup</a>
        <% } %>
    </h4>
    <h1>
        <a href="/">
            Shopping Online
        </a>
    </h1>
    <h3>
        <a href="/cart">Cart</a>&emsp;&emsp;
        <a href="/admin">Admin</a>
    </h3>
</div>
