<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body class="container">

<header>
  <% include ../partials/header.ejs %>
</header>

<main>
    <h2>Admin</h2>
    <form method="post">
        Name :      <input type="text" name="name"><br>
        Cost :      <input type="Number" name="cost"><br>
        Vendor:     <input type="text" name="vendor"><br>
        Inventory:  <input type="Number" name="inventory"><br>
        <input type="submit" value="submit" name="submit">
    </form>
</main>

<footer>
  <% include ../partials/footer.ejs %>
</footer>

</body>
</html>
