<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./../partials/head.ejs %>
</head>
<body class="container">

<header>
  <% include ../partials/header.ejs %>
</header>

<main>
    <h2>Cart</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Item ID</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <% cart.items.forEach((item) => { %>
        <tr>
            <td><%= item.name %></td>
            <td><%= item.quantity %></td>
        </tr>
        <% }); %>
        <br>
        <tr>
            <td>Total Cost</td>
            <td><%= cart.totalCost %></td>
        </tr>
        </tbody>
    </table>
</main>

<footer>
  <% include ../partials/footer.ejs %>
</footer>

</body>
</html>
