<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body class="container">

<header>
  <% include ../partials/header.ejs %>
</header>

<main>
    <h2>Home</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        <% items.forEach((item) => { %>
        <tr>
            <td><%= item.name %></td>
            <td><%= item.cost %></td>
            <td><% if(item.imagePath){ %><img height="200" src=<%= item.imagePath %> ><%}else{%>No Image Available<%}%></td>
            <td><a href=<%= '/item/'+item.id%>>Item Details</a></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</main>

<footer>
  <% include ../partials/footer.ejs %>
</footer>

</body>
</html>
